In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn import linear_model

In [2]:
iris = load_iris()
data1 = pd.DataFrame(data=np.c_[iris["data"], iris["target"]],
                     columns=iris["feature_names"] + ["target"])

In [3]:
data1

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

X = independent (input) variable

Y = dependent (output) variable

[[]] - maintain as df; [] - create series

In [4]:
# Select first 3 cols ('sepal length (cm)', 'sepal width (cm)', 'petal length (cm)')
X_cols = list(data1.columns[0:3])

In [5]:
# Inputs (independent vars) - in df format
X = data1[X_cols]
X

     sepal length (cm)  sepal width (cm)  petal length (cm)
0                  5.1               3.5                1.4
1                  4.9               3.0                1.4
2                  4.7               3.2                1.3
3                  4.6               3.1                1.5
4                  5.0               3.6                1.4
..                 ...               ...                ...
145                6.7               3.0                5.2
146                6.3               2.5                5.0
147                6.5               3.0                5.2
148                6.2               3.4                5.4
149                5.9               3.0                5.1

[150 rows x 3 columns]

In [6]:
# Output (dependent var) - in series format
y = data1['petal width (cm)']
y

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width (cm), Length: 150, dtype: float64

In [7]:
# Step 1: define model type
model = linear_model.LinearRegression()

# Step 2: fit X to y
model.fit(X, y)

LinearRegression()

In [8]:
print("coeff(sepal length (cm)) = ", model.coef_[0],
      "\ncoeff(sepal width (cm)) = ", model.coef_[1],
      "\ncoeff(petal length (cm)) = ", model.coef_[2],
      "\nintercept = ", model.intercept_)

coeff(sepal length (cm)) =  -0.20726607375742606
coeff(sepal width (cm)) =  0.22282854386092998
coeff(petal length (cm)) =  0.5240831147784291
intercept =  -0.24030738911226113

In [9]:
# This function is equivalent to what ML model is giving
def my_model(X):
  return -0.20726607375742606 * (X[0]) + 0.22282854386092998 * (X[1]) + 0.5240831147784291 * (X[2]) - 0.24030738911226113

In [10]:
model_inputs = [[2.2, 3.3, 4.4], [5.5, 2.2, 3.3], [4.4, 5.5, 2.2], [3.3, 4.4, 5.5]]
for i in model_inputs:
  print(i, my_model(i))

[2.2, 3.3, 4.4] 2.3450071483875585
[5.5, 2.2, 3.3] 0.8394262804847572
[4.4, 5.5, 2.2] 1.2262617301027232
[3.3, 4.4, 5.5] 2.9386172917576845

**.Predict**

In [11]:
# Does same as my_model
for i in model_inputs:
  print(i, model.predict(np.array([i])))

[2.2, 3.3, 4.4] [2.34500715]
[5.5, 2.2, 3.3] [0.83942628]
[4.4, 5.5, 2.2] [1.22626173]
[3.3, 4.4, 5.5] [2.93861729]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [12]:
# Linear Reg can give squirrely results:
print(model.predict([[5, 2, 1]]))

[-0.30689756]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [13]:
print("coefficient of determination =", model.score(X, y))

coefficient of determination = 0.9378502736046809