In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn import linear_model

In [2]:
iris = load_iris()
data1 = pd.DataFrame(data=np.c_[iris["data"], iris["target"]],
                     columns=iris["feature_names"] + ["target"])

In [3]:
data1

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

X = independent (input) variable

Y = dependent (output) variable

[[]] - maintain as df; [] - create series

In [5]:
X = data1[['petal length (cm)']]
X

     petal length (cm)
0                  1.4
1                  1.4
2                  1.3
3                  1.5
4                  1.4
..                 ...
145                5.2
146                5.0
147                5.2
148                5.4
149                5.1

[150 rows x 1 columns]

In [6]:
Y = data1['petal width (cm)']
Y

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width (cm), Length: 150, dtype: float64

In [9]:
# Step 1: define model
lm = linear_model.LinearRegression()

# Step 2: fit X to Y
lm.fit(X, Y)

LinearRegression()

In [10]:
print("coeff = ", lm.coef_, "intercept = ", lm.intercept_)

coeff =  [0.41575542] intercept =  -0.3630755213190291

In [12]:
# This is equivalent to what ML model is giving
def model(X):
  return 0.41575542 * (X) - 0.3630755213190291

In [14]:
for i in [2.2, 3.3, 4.4, 5.5]:
  print(i, model(i))

2.2 0.5515864026809709
3.3 1.0089173646809708
4.4 1.466248326680971
5.5 1.9235792886809708

In [15]:
# 'Nudder one
X2 = data1[['petal width (cm)']]
Y2 = data1['sepal length (cm)']

lm.fit(X2, Y2)

LinearRegression()

In [21]:
# Equation
print ("sepal length (cm) =", round(lm.coef_[0], 3), "* petal width (cm)  + ", round(lm.intercept_, 3))

sepal length (cm) = 0.889 * petal width (cm)  +  4.778

In [22]:
print("coefficient of determination =", lm.score(X2, Y2))

coefficient of determination = 0.6690276860464137